<%= content_for :head do %>
<title>@user.name-monolist</title>
<meta name=”description” content=”@user.nameのプロフィールや関連商品を表示します”>
<% end %>
<h1>
<%= render 'profile' , user: @user %>
<%= render 'items/list' , items: @items %>
</h1>