<%= content_for :head do %>
<title>ユーザーページ</title>
<meta name=”description” content=”ユーザーのプロフィールや関連商品を表示します”>
<% end %>
<h1>
<%= render 'profile' , user: @user %>
<%= render 'items/list' , items: @items %>
</h1>